@mixin size {
  max-width: 100px;
  max-height: 100px;
  min-width: 10px;
  min-height: 10px;
  width: 100px;
  height: 100px;
}

.card {
  @include size;
  margin: 10px;
  cursor: pointer;
}

.cardImage {
  position: absolute;
  @include size;
  will-change: transform, opacity;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.paired {
  border: 3px solid var(--accent-color);
}

.cardBack {
  background-color: #1a1a1a;
}
