.layout {
  display: flex;
}

.sidebar {
  height: calc(100vh - 60px);
  border: 1px solid #fff;
  padding: 20px;
  width: 100px;
}

.sidebarElement {
  margin-bottom: 20px;
}

.field {
  display: flex;
  justify-content: center;
  width: calc(100vw - 100px);
}
